* {
    padding: 0px;
    margin: 0px;
    
}

img:hover{
    scale:0.8;
    transition:0.4s;
}


.header {
    background-color: #045694;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
    /* padding-right: 20px; */
}

.header span{
    color: #fff;
}
.header span:hover  {
    color: #6fbbf5;
}

.headerup {
    border-bottom: 1px solid #fff;
    height: 40px;


}
.headerup nav {
    height: 100%;
    /* width: 100%; */

}

.headerup nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;

}

.headerup nav ul li {
    margin-right: 15px;
    font-size: 0.8rem;
    list-style: none;
    /* align-items: center; */
    /* height: 100%; */


}

.headerup nav ul li a {
    text-decoration: none;
    color: #fff;
    align-items: center;

}
.headerdown { 
    height: 60px;
}
.headerdown nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.headerdown nav .logo img {
    height: 30px;
}
.headerdown nav .logo img:hover {
    opacity: 50%;
}
.headerdown nav ul {
    display: flex;
    align-items: center;
    height: 100%;
}

.headerdown nav ul li {
    margin-right: 15px;
    list-style: none;

}

.headerdown nav ul li a {
    text-decoration: none;
    color: #fff;
}

.menu-icone{
    border-radius: 50%;
    background-color: #296FA4;
    padding: 3px;
    color: #fff; 
    cursor: pointer;
}

.menu-icone:hover {
    background-color: #6fbbf5;
}

.header li a:hover {
    color: #6fbbf5;
}


/********************* side-menu /////////////////////////////////////*/
#check-menu{
    display: none;
}



#side-menu {
    
    position: fixed;
    width: 200px;
    height: 0px;
    transition: 0.5s ;
    overflow: hidden;
    left: 0px;
    background-color: #045694;
    
    
}
#side-menu ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}


#side-menu ul li{
    
    padding-right: 10px;
    margin: 10px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
#side-menu li a{
    
    text-decoration: none;
    color: #fff;
}
#side-menu li a:hover{
    color: #6fbbf5;
}



#check-menu:checked + #menu-btn + #side-menu{ 
        width: 300px;  
        height: 100vh; 
}

/* .menu-search *****************************/
#search-toggle {
    display: none;
}
.menu-search {
    width: 0px;
    height: 0px;
    background-color: #045694;
    border-radius: 20px;
    border-color: #0000;
    margin: 0px;
    position: absolute;
    top: -100px;
    right: 50px;
    color: #000;
    transition: 0.5s;
    
}
#search-toggle:checked + label + .menu-search{
    height: 40px;
    width: 400px;
    top: 100px;
    padding-left: 10px;
    border-color: #0000;
    background-color: #fff;
    
}

/* .menu-lang *****************************/
#lang-toggle {
    display: none;
}
.lang{
    color: #fff;
    position: absolute; 
    top: 100px;
    right: -1000px;
    width: 100px;
    /* height: 280px; */
    background-color: #020F2A;
    /* border: solid 1px #fff; */
    border-radius: 5px;
    height: 100px; 
    opacity: 100%; 
    z-index: -10;
    transition: 0.5s ;
}

.lang ul{
    padding: 10px;
    /* width: 100%; */
    /* height: 100%; */
    display: flex; 
    flex-direction: column; 
    
}
.lang ul li{
    width: 100%;
    /* justify-content: space-between; */
    /* align-items: end;  */
}

.lang a{
    /* width: 100%; */
   /* color: #fff; */
   /* border-bottom: 1px solid #fff3; */
}
#lang-toggle:checked + label + .lang{
    opacity: 100%;
    height: 220px; 
    right: 25px;
}

/* .menu-person *****************************/
#person-toggle {
    display: none;
}

.person{
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 100px;
    right: -1000px;
    width: 200px;
    height: 80px;
    background-color: #fff;
    border-radius: 0px 0px 0px 20px;
    transition: 0.5s ;
}
.person button  {
    width: 80%;
    
} 

.person p  {
    margin-top: 10px;
    
} 


#person-toggle:checked + label + .person{
    height: 180px;
    width: 320px;
    right: 0px;
}




/*************main***************/
/*************section top***************/
.main {
    /* padding-top: 100px; */
    width: 100%;
}

.sectiontop {
    background-color: #00194A;
    height: 570px;
    width: 100%;
    /* border: 1px solid black; */
}

.sectiontopleft {
    text-align: center;
    padding-top: 200px;
    padding-left: 20px;
    height: 570px;
    background-image: linear-gradient(45deg, #00194A, #0066AD, #00194A);
}

.sectiontopleft h3 {
    color: #fff;
}

.sectiontopleft p {
    color: #fff;
}

.sectiontoprighttext {

    position: relative;
    bottom: 150px;
    left: 20px;
    color: #fff;
}

.sectiontopright{
    /* background-color: #00194A; */
    /* width: 100%;  */
    height: 570px;
}

.sectiontopright img {
    /* width: 900px; */
    width: 100%;
    /* height: 570px; */
    height: 100%;
    opacity: 50%;
}

.sectiontopright p {
    width: 70%;

}
.sectiontopright a {
    text-decoration: none;

}



/*************section 2***************/
.space1-2 {
    height: 100px;
}
.space-100 {
    height: 100px;
}
.space-30{
    height: 30px;
}

.snippet img{
    /* max-width: 300px; */
    width: 100%;
    border-radius: 2%;
}
.snippet-tourn img{
    /* max-width: 300px; */
    width: 100%;
    border-radius: 2%;
}
.snippet a{
    text-decoration: none;  
}
.snippet-tourn a{
    text-decoration: none;  
}
.snippet a h3{
    font-size: 1rem;
    color:#00194A
    
}
.snippet-tourn a h3{
    font-size: 1rem;
    color:#fff;
    
}
.seeall-link a{
    text-decoration: none;
    color:#00194A;
    text-align: right;
    margin-bottom: 10px;
}
.section-2-left a{
    text-decoration: none;
    color:#00194A;
}
.section-2-left img{
    /* max-width: 640px; */
    width: 100%;
    /* max-height: 360px; */
    
}



/* section-3 */

.section-3 h3{
    font-size: 1.3rem;
}

/* section-tournaments */
.main-tournaments {
    background-color: #020F2A;
}
.section-tournaments h3{
    font-size: 1.3rem;
    color: #fff;
}



/* section-4 */

.section-4{
    background-color: #045694;
}
.section-4 h5{
    color:#fff;
}

.section-4 .snippet a h3{
    color:#fff;
}

/* section-5 */
.snippet-vid {
    /* width: 290px; */
    /* width: 100%; */
    height: 520px;
    
}
.snippet-vid video{
    
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 5px;
}


.snippet-vid h3{
font-size: 1.3rem;
}

/* section-6 */
.section-6{
    width: 100%;
    height: 500px;
    background-color: #00194A;
}
.section-6 img{
    width: 100%;
    height: 100%;
    opacity: 50%;
    /* background-color: #00194A; */
}

.section-6-text{
    position: relative;
    bottom: 400px;
}
.section-6-text h6{
    color: #fff;
    padding: 20px;
}

.section-6-text h5{
    color: #fff;
    padding-left: 20px;
}
.section-6-text p{
    color: #fff;
    padding-left: 20px;
}
.section-6-text a{
    padding-left: 20px;
}
.section-6-text a button{
    border-color: #fff;
    color: #fff;
    border-radius: 30px;
}


/* section-7 */


.snippet-store img{
    /* width: 180px; */
    width: 100%;
    /* height: 180px; */
}
.snippet-store h3{
    font-size: 0.8rem;
}

.section-7 a{
    text-decoration: none;
}
.section-7 a h3{
    color: #00194A;
}


/* footer */
.footer{
    background-color: #00194A;
    height: 150px;
    width: 100%;
}

.footer-inssidefifa{
    background-color: #000;
    height: 150px;
    max-width: 80%;
    margin: auto;
}

.footer-top{
    height: 50px;
    width: 100%;
    border-bottom: #6fbbf5 1px solid;
}
.footer-top .logo img{
    height: 25px;
}
.twitter-logo, .face-logo, .insta-logo, .you-logo, .tik-logo{
    color: #fff;
    height: 30px;
    
}
.footer li{
    margin-right: 20px;
    list-style: none;
}
.footer-inssidefifa li{
    margin-right: 20px;
    list-style: none;
}
.footer-but {
    height: 100px;
    align-items: center;
}

/* .footer-but lu{
    height: 100%;
    display: flex;
    align-items: center;
} */

.footer-but li{
    margin-right: 20px;
    list-style: none;
}
.footer-but a{
    text-decoration: none;
    color: #fff;
}
.footer-but p{
    font-size: 0.8rem;
    color: #fff;
}


/* ticket */
.space{
    height: 100px;
}

.form-sec{
    max-width: 700px;
    margin: auto;
    /* text-align: center; */
}

.form-sec h1{
    margin-top: 50px;
}
.form-sec p{
    margin-top: 50px;
}
.form-sec input{
    margin-top: 50px;
   
}
.form-sec .form-in{
    
    height: 60px;
    border-radius: 20px;
}
.form-sec select{
    margin-top: 50px;
    height: 60px;
    border-radius: 20px;
}
.form-sec label{
    margin-top: 45px;
}
.form-sec button{
    height: 60px;
    width: 70px;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* sign in et sign up */


.sign-in{
    max-width: 700px;
    margin: auto;
    
}

.sign-in h1{
    margin-top: 50px;
}
.sign-in p{
    /* margin-top: 25px; */
}
.sign-in input{
    margin-top: 50px;
   
}
.sign-in .form-in{
    
    height: 60px;
    border-radius: 20px;
}
.sign-in select{
    margin-top: 50px;
    height: 60px;
    border-radius: 20px;
}
.sign-in label{
    margin-top: 45px;
}
.sign-in button{
    height: 60px;
    width: 40%;
    
    margin-top: 25px;
    margin-bottom: 50px;
}

/* header-fifaplus */

.space-80{
    height: 80px;
}

.f-s-28{
    font-size: 28px;
}
.f-s-20{
    font-size: 20px;
}
.p-max-width{
    max-width: 80%;
}

.header-fifaplus{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #00155F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-fifaplus .logo{
    /* height: 100%; */
    margin-left: 30px;
}
.header-fifaplus form{
    /* height: 100%; */
}
.header-fifaplus img{
    height: 25px;
    
}
.header-fifaplus .form-search{
    background-color: #263877;
    border-radius: 20px;
    border-color: #fff0;
    height: 30px;
    padding-left: 10px;
    color: #fff;
    
}
.header-fifaplus button{
    height: 30px;
    color: #fff;
    border-radius: 20px;
    margin-right: 30px;
    font-size: 0.5rem;
}
.head-fifainside .form-search{
    background-color: #0002;
    border-radius: 20px;
    border: 2px solid #0000;
    height: 30px;
    padding-left: 10px;
    color: #000;
    
}

.head-fifainside button{
    height: 30px;
    color: #000;
    border: 2px solid #000000;
    border-radius: 20px;
    margin-right: 30px;
    font-size: 0.5rem;
}
.head-fifainside .fifa-link {
    text-decoration: none;
    /* height: 30px; */
    color: #000;
    border-bottom: 2px solid #000;
    padding: 5px;
    /* border-radius: 20px; */
    /* margin-right: 30px; */
    /* font-size: 0.5rem; */
}
.head-fifainside .fifa-link:hover {
    color: red;
    border-bottom: 2px solid red;
}

/* header-fifastore */


.header-fifastore{
    z-index: 1;
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: #fff 2px solid;
    border-bottom: #fff 2px solid;
}
.header-fifastore .logo{
   
    margin-left: 30px;
}

.header-fifastore img{
    height: 50px;
    
}
.header-fifastore .form-search{
    background-color: #272727;
    border-radius: 20px;
    border-color: #27272700;
    height: 30px;
    padding-left: 10px;
    color: #fff;
    
}

.header-fifastore button{
    height: 30px;
    color: #fff;
    border-radius: 20px;
    margin-right: 30px;
    font-size: 0.5rem;
}
.section-fifastore-1{
    background-color: #000;
    height: 500px;
    width: 100%;
}
.section-fifastore-1-left{
    padding-top: 100px;
    background-color: #000;
    color: #fff;
    height: 500px;
}
.section-fifastore-1-left h3{
    margin-left: 30px;
}
.section-fifastore-1-left p{
    margin-left: 30px;
}
.section-fifastore-1-right{
    height: 400px;
}
.section-fifastore-1-right video{
    height: 500px;
}
.space-md-500{
    height: 0px;
}



/* originals */
.bg-fifaplus{
    background-color: #03122B;
    
}
.section-originals img{
    /* width: 150px; */
    width: 100%;
    /* height: 230px; */
}
.section-originals h5{
    color: #fff;
}
.section-originals h3{
    font-size: 0.8rem;
    color: #fff;
}

.section-originals a{
    text-decoration: none;
}
.section-originals a h3{
    color: #fff;
}

/* iframe */

/* head-fifainside */
.head-fifainside{
    background-color: #fff;
    height: 70px;
    max-width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    border-bottom: 2px solid black;
    align-items: center;
}
.main-insidefifa{
    max-width: 80%;
    margin: auto;
}
.main-insidefifa img{
    max-width: 100%;
    margin: auto;
}

/* main-insidefifa */
.main-insidefifa{
    /* background-color:#E4E8F0 ; */
}

.bg-dark-blue{
    background-color: #020F2A;
    color:#fff;
} 
.bg-dark-blue a{
    
    color:#fff;
} 
.bg-dark-blue a p{
    
    color:#fff;
}
.bg-dark-blue a h3{
    
    color:#fff;
}

/***************************art************************/

.art-cont{
    background-color: #020F2A;
}

.art{
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    
}
.art img{
    width: 100%;
}
.art h1{
    margin-top: 20px;
}

.art hr{
    margin: auto;
    margin-bottom: 10px;
    width: 95%;
}








@media screen and (max-width:767px) {
    .menu-large{
        display: none;
    }
    .headerup{
        display: none;
    }
    .space1-2 {
        height: 650px;
    }
    .sectiontopright p {
        width: 95%;
    }
    .sectiontopright img {
        opacity: 100%;
    }
    .sectiontoprighttext {
        bottom: 200px;
    }
}

@media screen and (max-width:767px){
    .space-md-500{
        height: 500px;
    }
}





/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(icons.woff2) format('woff2');
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
